@font-face {
	font-family: "UthmanicHafs";
	src: url("./assets/font/Uthmanic-Hafs-Font.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

html,
body {
	background-color: #0d1117;
	color: #d2e1e6;
	margin: 0;
	padding: 0;
}
.viewport {
	width: 100vw;
	height: 100dvh;
	overflow: hidden;
	position: relative;
}
.canvas {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	transition: transform 0.5s ease;
	/* flex-wrap: nowrap; */
}
.panel {
	position: absolute;
	width: 100vw;
	height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content-wrapper {
	padding: 0.5rem 1rem;
	width: 85%;
	max-height: 85dvh;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	direction: rtl;

	-webkit-mask-image: linear-gradient(
		to bottom,
		transparent,
		black 20px,
		black calc(100% - 20px),
		transparent
	);
	mask-image: linear-gradient(
		to bottom,
		transparent,
		black 20px,
		black calc(100% - 20px),
		transparent
	);
}

.content-wrapper > * {
	margin-bottom: 0.3rem;
}

.quran {
	font-family: "UthmanicHafs";
	font-size: 1.8rem;
}

.tafseer {
	font-family: "Calibri", Arial, sans-serif;
	font-size: 1.4rem;
}

.source {
	all: unset;
	font-family: "UthmanicHafs";
	font-size: 1.3rem;
	cursor: pointer;
}

.landing {
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100dvh;
	display: none;
}

#landing {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto;
	animation: landing-fade 3s ease infinite;
}

@keyframes landing-fade {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#spinner {
	width: 1.8rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: spinner-rotate 1.3s linear infinite;
}
@keyframes spinner-rotate {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}
