@font-face {
    font-family: 'UthmanicHafs';
    src: url('font/Uthmanic-Hafs-Font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Body */
body {
    background-color: #0D1117;
    color: #D2E1E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    margin: 0;
    padding: 2rem; 
}

/* Content Wrapper */
.content-wrapper {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    flex-grow: 1; 
}

/* Paragraph */
p.tafseer {
    text-align: center;
    margin-bottom: 1.5rem; 
    font-family: 'Calibri', Arial, sans-serif;
    font-size: 25px;
    direction: rtl;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin-top: 0;
    text-align: center;
    flex-shrink: 0; 
}

p.quran {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'UthmanicHafs';
    font-size: 33px;
    font-weight: normal;
    text-transform: none;
    margin-top: 0;
    flex-shrink: 0;
    direction: rtl;
}

p.source {
    font-family: 'UthmanicHafs';
    font-size: 23px;
    text-transform: none;
    margin-top: 0;
    text-align: center;
    flex-shrink: 0; 
}