:root {
	/* Default/Dark Theme Colors (used when body.light is not present) */
	--btn-hover-bg: #474747;
	--btn-active-bg: #252525;
	/* --my-dark: #0d1117; */
	--my-dark: #000;
	--my-white: #d2e1e6;
}

/* Dark Mode (default) */
html,
body {
	--icon-color: var(--my-white);
	background-color: var(--my-dark);
	color: var(--my-white);
	margin: 0;
	padding: 0;
}

/* Light Mode */
body.light {
	--icon-color: var(--my-dark);
	background-color: var(--my-white);
	color: var(--my-dark);
	/* Light Theme Overrides */
	--btn-hover-bg: #def1f8;
	--btn-active-bg: #c2d1d5;
}

svg, path {
	color: var(--icon-color);
	fill: var(--icon-color);
}

.action-buttons {
	position: fixed; /* Optional: stick to a corner */
	top: 20px;
	right: 20px;
	display: flex;
	flex-direction: column;
	z-index: 20;
}

#actions {
	display: flex;
	flex-direction: column;
}

.action-buttons button {
	font-size: 24px;
	padding: 8px;
	background-color: #ffffff00;
	border-radius: 50px; 
	border: none;
	cursor: pointer;
	transition: background 0.2s;
	width: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Apply the variables to the buttons */
body .action-buttons button:hover {
	background: var(--btn-hover-bg);
}

body .action-buttons button:active {
	background: var(--btn-active-bg);
}

.hide {
	display: none;
}

@font-face {
	font-family: "UthmanicHafs";
	src: url("./assets/font/Uthmanic-Hafs-Font.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

.viewport {
	width: 100vw;
	height: 100dvh;
	overflow: hidden;
	position: relative;
}
.canvas {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	transition: transform 0.5s ease;
	/* flex-wrap: nowrap; */
}
.panel {
	position: absolute;
	width: 100vw;
	height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content-wrapper {
	padding: 0.5rem 1rem;
	width: 85%;
	max-height: 85dvh;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	direction: rtl;

	-webkit-mask-image: linear-gradient(
		to bottom,
		transparent,
		black 20px,
		black calc(100% - 20px),
		transparent
	);
	mask-image: linear-gradient(
		to bottom,
		transparent,
		black 20px,
		black calc(100% - 20px),
		transparent
	);
}

.content-wrapper > * {
	margin-bottom: 0.3rem;
}

.quran {
	font-family: "UthmanicHafs";
	font-size: 1.8rem;
}

.tafseer {
	font-family: "Calibri", Arial, sans-serif;
	font-size: 1.4rem;
}

.source {
	all: unset;
	font-family: "UthmanicHafs";
	font-size: 1.3rem;
	cursor: pointer;
}

.landing {
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100dvh;
	display: none;
}

#landing {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto;
	animation: landing-fade 3s ease infinite;
}

@keyframes landing-fade {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#spinner {
	width: 1.8rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: spinner-rotate 1.3s linear infinite;
}
@keyframes spinner-rotate {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}

.warning-edge {
	position: fixed;
	top: 0;
	width: 0px; /* Start at 0px */
	height: 100vh;
	background-color: rgb(255, 100, 100);
	z-index: 9999;
}
.start {
	right: 0;
}
.end {
	left: 0;
}